*{
	box-sizing: border-box;
}
.body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	transition: all 0.3s;
	box-sizing: border-box;
	background-color: #fff;
}
/*---------------------------------------------------------------------------*/
/*Menu Estilo*/
.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #212121;
	color: #eee;
	box-sizing: border-box;
}
.imagem{
	margin-left: 5%;
}
img{
	width: 100px;
	height: 90px;
}
.lista{
	margin-right: 5%;
}	
.lista ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
ul li{
	margin: 10px;
}
.adm{
	width: 100%;
}
li a{
	text-decoration: none;
	color: #eee;	
	transition: all 0.3s;
}
a:hover{
	color: #4B89DA;
	transition: all 0.3s;
}
/*---------------------------------------------------------------------------*/
.sectionBusca{
	display: flex;
	box-sizing: border-box;
	background-color: #eee;
}
.conteinerFomulario{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/*---------------------------------------------------------------------------*/
/*Formulario*/
.divButtonImprimir{
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
	padding: 15px;
}
div form{
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
	padding: 10px; 
}
/*Estilo e comportamente dos inputs de text*/
.input{
	margin: 5px;
	outline: none;
}
.inputText{
	padding-left: 5px;
	border-top: none;
	border-bottom: solid 1px #4b89da;
	border-left: none;
	border-right:none;
	font-size: 12pt;
	transition: all 0.5s;
	background-color: transparent;
}
.inputText:hover{
	background-color: #f4f6f9;
	transition: all 0.5s;
}
.inputText:focus{
	background-color: #f4f6f9;
	transition: all 0.5s;
}
/*Estilo e comportamente do input botão submit*/
.inputBotao{
	border: 1px solid #4b89da;
	border-radius: 3px;
	background-color: #4b89da;
	color: #eee;
	transition: all 0.5s;
}
.inputBotao:hover{
	border: 1px solid #4682d4;
	background-color: #4682d4;
	transition: all 0.5s;
}
/*Estilo e comportamente dos outros botões*/
.button{
	outline: none;
	border: 1px solid #2c3e50;
	border-radius: 3px;
	background-color: #2c3e50;
	color: #eee;
	transition: all 0.5s;
}
.button:hover{
	border: 1px solid #48647c;
	background-color: #48647c;
	transition: all 0.5s;
}
/*---------------------------------------------------------------------------*/
/*-- Responsidade dos inputs + Baotões --*/
@media (max-width: 444px) {
		.input{
			padding: 5px;
			font-size: 10pt;
		}
		.inputText{
			width: 80%;
		
		}
		.button,
		.buttonDescrição{
			padding: 5px;
			font-size: 10pt; 
		}
}

/*---------------------------------------------------------------------------*/
/*--Estilo do Modal e das Tabelas --*/
.modalInformacoaCliente{
	background-color: #4b89da;
	color: #eee;
}
.tabelaSeviçCliente{
	display: flex;
	justify-content: center;
	width: 90%;
	margin-top: 50px;
	box-sizing: border-box;
}
.divTabelaServiço{
	display: flex;
	justify-content: center;
	width: 90%;
}
.table{
	width: 90%;
	border-collapse: collapse;
}
.table td,.table th{
  padding:10px 10px;
  text-align: center;
  font-size:14px
}
.table th{
	background-color: #212121;
	color:#eee;
}
.table tbody tr{
	background-color: #eee;
}
.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
/*---------------------------------------------------------------------------*/
/*-- Responsidade das tabelas --*/
@media(max-width: 1000px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:10px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:10px;
		font-size:12px;
		font-weight: bold;
		text-align: left;
	}
}




